#navBar {
    height: 100%;
    background-color: rgb(30, 33, 58);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  #btnSearch {
    background: #6e707a;
    box-shadow: 0px 4px 4px opx rgba(0,0,0,0.25);
    font-size: 16px;
    color: white;
    padding: 10px;
  }
  
  #btnClose {
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  #btnLocation {
    height: 40px;
    background-color: transparent;
    border: 0;
    
  }

  #btnLocation > svg {
    height: 100%;
    width: 100%;
    
    
  }

  ::placeholder {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;


  }

  #mainsearch2 > span {
    color: #616475;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 60px;
    
  }

  #mainsearch3 {
    display: flex;
    border: 1px solid;
    color: rgba(245, 245, 245, 0.456);
    margin-bottom: 5px;
    height: 48px;
    
  }

  #mainsearch3 > span {
    color: #616475;
    height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 60px;
    position: relative;
    z-index: 1;
  }

  #mainsearch3 > span > input {
    color: #616475;
  }