@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Wix+Madefor+Display&family=Wix+Madefor+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

#inputmain {
  justify-content: center;
  text-align: center;
  background: #6E707A;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

#navBar-btns > span > div > input::placeholder {
  color: white;
  justify-content: center;
  text-align: center;
  background: #6E707A;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;

}

#buttons {
  color: #6E707A;
  background: #6E707A;
  border: none;
}

#mainsearch3 > span > input {
  color: brown;
}

.btnLocation {
  color: white;
  background: #6E707A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  
}

#btnLocation > span {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
  color: white;
  
}

#container{
  display: flex;
  flex-direction: column;
}
/* Estilos contenedor de arriba(mobile) o a la izquierda (desktop) */
#currentWeather {
  background-color: rgb(30, 33, 58);
  height: 810px;
  width: 375px;
  /* height: 100vh;
  width: 100%; */
  padding: 20px 15px 100px 15px;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

#navBar-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

#navBar-data {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  top: -50px;
  position: relative;
  z-index: 1;
}

#navBar-data > p:first-child > span {
  font-size: 50px;
  
}

#navBar-data > p:first-child {
  font-size: 36px;
  color: #A09FB1;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;


}

#navBar-data > p:nth-child(2) {
  font-size: 18px;
  color: #88869D;
  font-family: Raleway;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;


}

#navBar-data > p:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#navBar-data > p:last-child{
  display: flex;
  gap: 0rem;
  color: #A09FB1;
  
}



/* Estilos contenedor de abajo (mobile) o a la derecha (desktop) */
#forecast {
  background-color: rgb(16,14,29);
  min-height: 100vh;
  width: 375px;
  height: 1718px;
  top: 810px;
  padding: 20px;
  
}

/* @media screen and (min-width:1200px){
  #container {
    flex-direction: row;
  }

  #currentWeather {
    width: 30%;
  }

  #forecast {
    width: 70%;
  }
} */

@media screen and (min-width:1200px){
  #container {
    flex-direction: row;
  }
}

.clouds {
  top: -10px;
  width: 600px;
  height: 326px;
  margin-left: -120px;
  opacity: 0.1;
  position: relative;
  z-index: 1;
  padding: 50px 30px;
}

.sun {
  display: flex;
  text-align:center;
  justify-content:center;
  width: 130px;
  height: 154px;
  top: 150px;
  margin-left: 113px;
  position: fixed;
  position: absolute;
 
}

.clouds2 {
  display: flex;
  text-align:center;
  justify-content:center;
  width: 30%;
  margin-top: -18%;
  margin-left: 20%;
}

#grados > span {
  display: flex;
  justify-content: center;
  text-align: center;
  top: -60px;
  position: relative;
  z-index: 1;
  color: aliceblue;
  font-weight: 100px;
  font-size: 100px;
  line-height: 169px;
  letter-spacing: 0em;
  font-family: 'Raleway', sans-serif;

}

#gradosc {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 30px;
  position: relative;
  z-index: 1;
  color: #A09FB1;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

#grados1 {
  display: flex;
  justify-content: center;
  text-align: center;
  /* top: -250px; */
}

.today {
  display: flex;
  gap: 1rem;
}



main {
  padding: 20px;
  
}

#input2 {
  width: 70%;
  height: 48px;
  font-size: 1.5rem;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  color: #616475;
}

#search2 {
  height: 48px;
  background-color: #515be9;
  width: 87px;
  margin-bottom: 5px;
  cursor:pointer;
  color: #E7E7EB;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
}

#mainsearch2 {
  display: flex;
  gap: 0.7rem;
}

ul {
  list-style: none;
  width: 100%;
  border: 1px solid;
  color: rgba(245, 245, 245, 0.456);
  
}

li {
  height: 48px;
  padding: 20px;
  cursor: pointer;
}

li:not(:last-child) {
  border-bottom: 1px solid;
}

#flex1 {
  display: flex;
  justify-content: center;
  text-align: left;
  position: relative;
  z-index: 1;
}

#img2 {
  margin-left: 10%;
}

#pronostico {
  cursor: pointer;
}